<button class="btn btn-lg btn-default col-md-12 mb-15" data-toggle="modal" data-target="#myModal">
	<span class="glyphicon glyphicon-plus"></span>&nbsp;添加项目
</button>
<% if(haveList && dataList.length > 0) {%>	
	<div class="row">
		<% dataList.forEach(function(item, index) { %>	
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h3><%= item.name %></h3>
						<p><%= item.desc %></p>
						<p>
							<a href="/detail/<%= item.id %>" class="btn btn-sm btn-primary">查看详情</a> 
							<a data-id="<%= item.id %>" class="btn btn-sm btn-danger del">删除项目</a>
						</p>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
<% } else { %>
	<div>没有啥项目，点击右上角创建一个新项目吧~</div>
<% } %>
<script>
	$(".del").on('click',function(){
		var id = $(this).data("id");
		$.ajax({
			url:'/list/delete',
			type:'post',
			data:{
				id: id
			},
			success:function(data){
				alert(data.msg);
				window.location.reload();
			},
			error:function(){
				alert("删除出错！")
			}
		})
	})
</script>
