<div class="index">
	<div style="height:60px;line-height:60px;font-size:25px;">项目新增</div>
	<form action="/list/create" method="POST">
		<label for="name">项目名称：</label>
		<input id="name" type="text" name="name" value="">
		<label for="url">项目url：</label>
		<input id="url" type="text" name="url" value="">
		<input type="submit" value="提交">
	</form>
</div>
<div class="index">
	<% if(haveList && dataList.length > 0) {%>
		<div style="height:60px;line-height:60px;font-size:25px;">项目列表</div>
		<ul class="searchlist">
			<% dataList.forEach(function(item, index) { %>
				<li>
					<div class="item">
						<p><%= item.name %></p>
						<a href="/detail/<%=item.url%>" class="view act">查看详情</a>
						<a class="delete" data-id="<%=item.name%>" class="view act">删除项目</a>
					</div>
				</li>
			<% }) %>
		</ul>
	<% } else { %>
		<p>没有啥项目，点击右上角创建一个新项目吧~</p>
	<% } %>
</div>
<script>
	$(".delete").on('click',function(e){
		var name = $(e.currentTarget).data("id");
		if(confirm("确定删除吗？")){
			$.ajax({
				url:'/list/delete',
				type:'post',
				data:{
					name: name
				},
				success:function(data){
					if(data.code === 0) location.reload()
				},
				error:function(){
					alert("出错了")
				}
			})
		}
	})
</script>
